label {
  color: green;
}

.nume {
  color: purple;
}

#telefon {
  color: blue;
}

#email {
  color: chocolate;
}

.parola {
  color: crimson;
}

.checkbox {
  color: firebrick;
}

label {
  color: green;
}
