h1 {
  color: green;
}

#resteazaParola {
  color: indigo;
}

label {
  color: green;
}

#email {
  color: indigo;
  font-size: large;
}

#inputEmail {
  font-size: large;
  color: red;
}

body {
  background-color: wheat;
}
